<div class="container">
  <div class="box">
    <span></span>
    
    
    <div class="content">
      <h2>Institucional Institucional Instituto  </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing
         elit.lor sit amet consectetur adipisicing
         elit. Laboriosam odio perferendis 
         </p>
    </div>
    <button type="button" class="btn btn-success">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="40" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
      </svg>
      Descargar
    </button>
    
  </div>
  <div class="box">
    <span></span>
    <a href="#" *ngIf="false">DD</a>  
    <div class="content">
      <h2>Documento Institucional Instituto Institucional Institucional Instituto</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing
         elit. Laboriosam odio perferendis 
        ut recusandae, maiores reiciendis temporibus.</p>
    </div>
    <button type="button" class="btn btn-success">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="40" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
      </svg>
      Descargar
    </button>
    
  </div>
  <div class="box">
    <span></span>
    <a href="#" *ngIf="false">DD</a>  
    <div class="content">
      <h2>Documento Institucional Instituto Institucional Institucional Instituto</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing
         elit. Laboriosam odio perferendis 
        ut recusandae, maiores reiciendis temporibus.</p>
    </div>
    <button type="button" class="btn btn-success">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="40" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
      </svg>
      Descargar
    </button>
    
  </div>
  <div class="box">
    <span></span>
    <a href="#" *ngIf="false">DD</a>  
    <div class="content">
      <h2>Documento Institucional Instituto Institucional Institucional Instituto</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing
         elit. Laboriosam odio perferendis 
        ut recusandae, maiores reiciendis temporibus.
        m ipsum dolor sit amet consectetur adipisicing
        elit. Laboriosam odio perferendis 
       ut recusandae, maiores reiciendis tempor
       m ipsum dolor sit amet consectetur adipisicing
       elit. Laboriosam odio perferendis 
      ut recusandae, maiores reiciendis tempor</p>
    </div>
    <button type="button" class="btn btn-success">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="40" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
      </svg>
      Descargar
    </button>
    
  </div>


<!-- <div class="container">
  <div class="row">
    <div id="sp-component" class="col-sm-12 col-md-12">
      <div class="sp-column ">
        <div id="system-message-container">
        </div>
        <div id="phoca-dl-category-box" class="pd-category-view">
          <div class="pd-category">
            <div class="pdtop"><a title="Documentos Institucionales"
                href="/index.php/universidad/documentos/normas-y-reglamentos/category/2-documentos-institucionales"><img
                  src="/media/com_phocadownload/images/up.png" alt="Subir" /></a></div>
            <h3 class="pd-ctitle">Normas y Reglamentos</h3>
            
            <div class="pd-filebox">
              <div class="pd-filenamebox">
                <div class="pd-title">Normas y Reglamentos</div>
                <div class="pd-filename">
                  <div class="pd-document16"
                    style="background: url('https://www.uto.edu.bo/media/com_phocadownload/images/mime/16/icon-pdf.png') 0 center no-repeat;">
                    <div class="pd-float"><a class=""
                        href="/index.php/universidad/documentos/normas-y-reglamentos?download=85:normas-de-publicacion-en-la-revista-cienciaxplora">Reglamentos.pdf</a></div>
                  </div>
                </div>
              </div>
              <div class="pd-buttons">
                <div class="pd-button-download"><a class="btn btn-success"
                    href="/index.php/universidad/documentos/normas-y-reglamentos?download=85:normas-de-publicacion-en-la-revista-cienciaxplora">Descarga</a>
                </div>
              </div>
              <div class="pd-buttons">
                <div class="pd-button-details"><a class="btn btn-info"
                    onmouseover="return overlib('&lt;div style=\'text-align:left;padding:5px\'&gt;&lt;div class=\'pd-title\'&gt;NORMAS DE PUBLICACIÓN EN LA REVISTA “CIENCIAXPLORA”&lt;/div&gt;&lt;div class=\'pd-filesize-txt\'&gt;Tamaño del Archivo:&lt;/div&gt;&lt;div class=\'pd-fl-m\'&gt;104.00 kB&lt;/div&gt;&lt;div class=\'pd-date-txt\'&gt;Fecha:&lt;/div&gt;&lt;div class=\'pd-fl-m\'&gt;31 Julio 2018&lt;/div&gt;&lt;div class=\'pd-downloads-txt\'&gt;Descargas:&lt;/div&gt;&lt;div class=\'pd-fl-m\'&gt;2092 x&lt;/div&gt;&lt;/div&gt;', CAPTION, 'Detalles', BELOW, RIGHT, CSSCLASS, TEXTFONTCLASS, 'fontPhocaPDClass', FGCLASS, 'fgPhocaPDClass', BGCLASS, 'bgPhocaPDClass', CAPTIONFONTCLASS,'capfontPhocaPDClass', CLOSEFONTCLASS, 'capfontclosePhocaPDClass', STICKY, MOUSEOFF, CLOSETEXT, 'Cerrar');"
                    onmouseout="return nd();" href="#">Detalles</a></div>
              </div>
              <div class="pd-cb"></div>
            </div>
            <div class="pd-filebox">
              <div class="pd-filenamebox">
                <div class="pd-title">REGLAS</div>
                <div class="pd-filename">
                  <div class="pd-document16"
                    style="background: url('https://www.uto.edu.bo/media/com_phocadownload/images/mime/16/icon-pdf.png') 0 center no-repeat;">
                    <div class="pd-float"><a class=""
                        href="/index.php/universidad/documentos/normas-y-reglamentos?download=51:estatuto-organico-de-la-universidad-tecnica-de-oruro">Reglamentos.pdf</a></div>
                  </div>
                </div>
              </div>
              <div class="pd-buttons">
                <div class="pd-button-download"><a class="btn btn-success"
                    href="/index.php/universidad/documentos/normas-y-reglamentos?download=51:estatuto-organico-de-la-universidad-tecnica-de-oruro">Descarga</a>
                </div>
              </div>
              <div class="pd-buttons">
                <div class="pd-button-details"><a class="btn btn-info"
                    onmouseover="return overlib('&lt;div style=\'text-align:left;padding:5px\'&gt;&lt;div class=\'pd-title\'&gt;ESTATUTO ORGANICO DE LA UNIVERSIDAD TÉCNICA DE ORURO&lt;/div&gt;&lt;div class=\'pd-filesize-txt\'&gt;Tamaño del Archivo:&lt;/div&gt;&lt;div class=\'pd-fl-m\'&gt;207.32 kB&lt;/div&gt;&lt;div class=\'pd-date-txt\'&gt;Fecha:&lt;/div&gt;&lt;div class=\'pd-fl-m\'&gt;21 Octubre 2015&lt;/div&gt;&lt;div class=\'pd-downloads-txt\'&gt;Descargas:&lt;/div&gt;&lt;div class=\'pd-fl-m\'&gt;8394 x&lt;/div&gt;&lt;/div&gt;', CAPTION, 'Detalles', BELOW, RIGHT, CSSCLASS, TEXTFONTCLASS, 'fontPhocaPDClass', FGCLASS, 'fgPhocaPDClass', BGCLASS, 'bgPhocaPDClass', CAPTIONFONTCLASS,'capfontPhocaPDClass', CLOSEFONTCLASS, 'capfontclosePhocaPDClass', STICKY, MOUSEOFF, CLOSETEXT, 'Cerrar');"
                    onmouseout="return nd();" href="#">Detalles</a></div>
              </div>
              <div class="pd-cb"></div>
            </div>
            <form action="https://www.uto.edu.bo/index.php/universidad/documentos/normas-y-reglamentos" method="post"
              name="adminForm">
              <div class="pd-cb">&nbsp;</div>
              <div class="pgcenter">
                <div class="pagination">
                  <div class="pginline">Cantidad de ítems por página&nbsp;<select id="limit" name="limit"
                      class="inputbox input-mini" size="1" onchange="this.form.submit()">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="0">Todo</option>
                    </select>
                    &nbsp;</div>
                  <div style="margin:0 10px 0 10px;display:inline;" class="sectiontablefooter" id="pg-pagination">
                  </div>
                </div>
              </div>
              <input type="hidden" name="aca6b903c0eb1f8be210b7ca8c28c1b3" value="1" />
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div> -->
