<div class="wrapper d-flex align-items-stretch">
  

  <!-- Page Content  -->
  <div id="content" class="">
    <!-- <app-estudiantes></app-estudiantes> -->
  </div>
  <!-- fin page content -->
  <nav id="sidebar" class="order-last active" >
    <div class="custom-menu">
      <button type="button" id="sidebarCollapse" class="btn btn-primary" (click)="openNav()">
      </button>
    </div>
    <div class="">
      <h1><a routerLink="index.html" class="logo">Kenitic <span>Blog Agency</span></a></h1>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a routerLink="#"><span class="fa fa-home mr-3"></span> Home</a>
        </li>
        <li>
          <a routerLink="#"><span class="fa fa-user mr-3"></span> About</a>
        </li>
        <li>
          <a routerLink="#"><span class="fa fa-sticky-note mr-3"></span> Blog</a>
        </li>
        <li>
          <a routerLink="#"><span class="fa fa-cogs mr-3"></span> Services</a>
        </li>
        <li>
          <a routerLink="#"><span class="fa fa-paper-plane mr-3"></span> Contacts</a>
        </li>
      </ul>

      <div class="mb-5 px-4">
        <h3 class="h6 mb-3">Subscribe for newsletter</h3>
        <form action="#" class="subscribe-form">
          <div class="form-group d-flex">
            <div class="icon"><span class="icon-paper-plane"></span></div>
            <input type="text" class="form-control" placeholder="Enter Email Address">
          </div>
        </form>
      </div>

      <div class="footer px-4">
        <p>
          Copyright &copy;<script>
            document.write(new Date().getFullYear());

          </script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
            href="https://colorlib.com" target="_blank">Colorlib.com</a>
        </p>
      </div>

    </div>

  </nav>
</div>
