<!-- <table>
    <thead>
      <tr>
        <th *ngFor="let column of columnsOnly">
            <span>{{column.label}} </span>
          </th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
             <td *ngFor="let column of columnsOnly">{{item[column.field]}}</td>
          </tr>
    </tbody>
  </table> -->
  <!-- <table>
    <thead>
      <tr>
        <th *ngFor="let column of columnasConsulta">
            <span>{{column.titulo}} </span>
          </th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of admin">
             <td *ngFor="let column of columnasConsulta">{{item[column.titulo]}}</td>
          </tr>
    </tbody>
  </table> -->
  <div>
    <h1 class="text-danger text-center font-weight-bold">LISTA DE POSTULANTES INSCRITOS - GESTION 2022</h1>
    <hr>
    <label class="col-sm-8 float-left text-center font-weight-bold text-danger">SI NO TIENE NINGUNA OBSERVACIÓN ENTONCES PUEDE REALIZAR SU INSCRIPCIÓN COMO ESTUDIANTE NUEVO EN EL SIGUIENTE ENLACE: <a routerLink="/Inscripciones">NO TENGO NINGUNA OBSERVACION, DESEO INSCRIBIRME COMO NUEVO</a> </label>
    <form method="GET" action="" accept-charset="UTF-8" class="form-inline my-2 my-lg-0 float-right" role="search">
      <div class="input-group">
        <label class="font-weight-light font-weight-bold" style="color:rgb(109, 87, 1)">BUSQUEDA: </label>
        <input type="text" class="form-control" [(ngModel)]="filterpost" name="filterPost" oninput="this.value = this.value.toUpperCase()">
      </div>
    </form>
    <div class="table-responsive">
      <table class="table table-bordered table-danger table-hover ">
        <thead>
          <tr>
            <th *ngFor="let column of Columnas">
                <span>{{column.titulo}} </span>
              </th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of admin | filterEstCi:filterpost">
                 <td *ngFor="let column of Columnas">{{item[column.titulo]}}</td>
              </tr>
        </tbody>
      </table>
    </div>
  </div>