	<div class="container" >
	  
	    <div class="form-group row" >
            <h2 class="text-center text-danger col-sm-12">
                <b>Informacion Institucional</b></h2>
            <div class=" col-sm-7">
                <iframe class="col-lg-12 col-md-12 col-sm-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d784.4946349301661!2d-67.11414307083075!3d-17.96829212353753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e2b0bcf387df67%3A0x9e1410e747e726cd!2sInstituto%20Superior%20de%20M%C3%BAsica%20Maria%20Luisa%20Luzio!5e1!3m2!1ses!2sbo!4v1635043815085!5m2!1ses!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="col-sm-5">
                <h3 class="text text-danger text-center"><b>Contactos</b></h3>
                <p><i class="fas fa-map-marker-alt" style="margin-right:10px"></i><b>DIRECCION <br> </b>
                    CALLE LA PLATA ENTRE AYACUCHO Y JUNIN<br> <br>
                  <!-- <b><i class="fas fa-envelope-open-text" style="margin-right:10px"></i>E-MAIL <br>
                  </b>gmail<br> -->
                  <a href="https://www.facebook.com/IFAMariaLuisa" target="_blank"><i class="fab fa-facebook" style="margin-right:10px"></i>https://www.facebook.com/IFAMariaLuisa/<br><br></a>
                  <b><i class="fa fa-phone" style="margin-right:10px"></i>TELEFONO<br></b> 52 52705<br><br>
                  <b><i class="fab fa-whatsapp" style="margin-right:10px"></i>CELULAR <br></b>+591 74132597<br>
                </p>
              </div>
          </div>
	      


	</div>
