/* PARA EL SELECT PERSONALIZADO */
.lcch-select div span
{
  border-radius: 0;
  border-width: 0;
  border-right-width: 3px;
  border-left-width: 3px;
  /* text-align: center; */
}
.lcch-select div span:hover
{
  border-radius: 0;
  border-width: 0;
  background-color: aquamarine;
  /* text-align: center; */
  font-weight: bold;
  cursor: pointer;
}
.lcch-options{
  position: absolute;
  /* width:100%; */
  z-index: 5;
}