<div class="container">
    <br>
    <h2 class="text-center text-danger font-weight-bold">MISION Y VISION</h2>
    <hr>

    <label class="col-sm-6" style="font:   bold 120%  ;">
        
        <h5 class="font-weight-bold text-danger">NUESTRA MISION</h5>
        “Formar músicos e intérpretes productivos a nivel profesional, con eficiente preparación
         técnica  y científica en el campo artístico musical; promoviendo y valorizando la música 
         del acervo local, nacional y universal hacia el desarrollo cultural del Estado 
         Plurinacional de Bolivia.
    </label>
    <label class="col-sm-6" style="font:   bold 120%  ;">
        <h5 class="font-weight-bold text-danger">NUESTRA VISION</h5>
        “Institución Musical Educativa Comunitaria, especializada en la  formación musical de niños,
         niñas, adolescentes y jóvenes, pionera en la región al  servicio  de la sociedad, 
          forjadora de músicos e intérpretes cualificados y capaces de valorar, cultivar y 
          difundir  el arte musical en todas sus expresiones”.
    </label>
    <style>
        .padre {
        /* background: yellow; */
        height: 150px;
        /*IMPORTANTE*/
        display: flex;
        justify-content: center;
        align-items: center;
        }

        .hijo {
        /* background: red; */
        width: 120px;
        }
    </style>
    <br><br><br><br><br><br>
    <div class="padre">
        <div class="hijo">
            <img [src]="'fijos/Logotipo_con_fondo.png'"  width="350px" height="350px" style="border-radius: 100%;" alt="...">
        </div>
    </div>
    <br><br><br><br>
</div>